<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ul>
    <li class="text" *ngFor="let item of items | async">
      {{item | json}}
    </li>
  </ul>
</ion-content>
